@charset "UTF-8";
/*------------------------------------------------------------
	Reset
------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
hgroup, menu, nav, section,
time, mark, audio, video {
  font-size: 1em;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block; }

html {
  font-size: 62.5%; }

a {
  text-decoration: none; }

body, table,
input, textarea, select, option,
h1, h2, h3, h4, h5, h6 {
  font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold; }

table,
input, textarea, select, option {
  line-height: 1.1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

:focus {
  outline: 0; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

img {
  vertical-align: top; }

.sp-only {
  display: none; }

@media screen and (max-width: 767px) {
  .pc-only {
    display: none; }
  .sp-only {
    display: block; }
  img {
    max-width: 100%;
    height: auto; } }

/*------------------------------------------------------------
							Header
------------------------------------------------------------*/
.l-header {
  *zoom: 1;
  border-bottom: 2px solid #fa0000;
  padding: 20px 0;
  background: linear-gradient(#000 82%, #fff 130%);
  /* Standard syntax (must be last) */
  -webkit-background: linear-gradient(#000 87%, #fff 115%);
  /* Standard syntax (must be last) */
  -o-background: linear-gradient(#000 87%, #fff 115%);
  /* Standard syntax (must be last) */
  -moz-background: linear-gradient(#000 87%, #fff 115%);
  /* Standard syntax (must be last) */ }
  .l-header:after {
    display: block;
    content: "";
    clear: both; }

.c-logo {
  float: left; }

.c-nav {
  float: right;
  text-align: center;
  padding-top: 25px; }
  .c-nav .c-nav__menu-item {
    display: inline-block;
    border-right: 1px solid #444;
    padding: 0 10px;
    line-height: 1.5rem;
    text-align: right; }
  .c-nav .c-nav__menu-item:last-child {
    border: none; }
  .c-nav a {
    color: #fff;
    font-size: 1.8rem;
    font-weight: bold; }
    .c-nav a span {
      font-size: 12px;
      color: #777;
      padding-right: 5px; }

/*------------------------------------------------------------
						Footer
------------------------------------------------------------*/
/* 
------------------------------------------------------------*/
#footer {
  *zoom: 1; }
  #footer:after {
    display: block;
    content: "";
    clear: both; }
  #footer .l-container {
    background: url("../image/bg_footer.png") no-repeat; }
  #footer .l-footer__scrolltop {
    float: right;
    margin-top: -30px;
    color: #fff;
    font-size: 1.2rem;
    background-color: #c80000;
    padding: 3px 8px;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer; }
    #footer .l-footer__scrolltop i {
      padding-right: 5px;
      font-size: 1.4rem; }
  #footer .c-nav {
    float: none;
    text-align: left;
    padding: 30px 25px;
    border-bottom: 1px solid #444; }
    #footer .c-nav__menu-item {
      display: inline-block;
      border: none;
      padding: 0 20px;
      font-size: 1.4rem;
      position: relative;
      letter-spacing: -1.2px; }
    #footer .c-nav i {
      top: 0px;
      left: 5px;
      position: absolute;
      padding: 3px 4px;
      background-color: #999;
      font-size: 0.8rem; }
  #footer .l-footer {
    margin-top: 30px; }
  #footer .l-footer__item {
    display: flex; }
  #footer .c-commercial {
    border: none;
    padding: 20px 30px 45px 30px; }
    #footer .c-commercial .c-commercial-item {
      padding: 3px 20px;
      border: none; }
    #footer .c-commercial .c-commercial-item:last-child {
      border: none; }
    #footer .c-commercial a {
      color: #fff;
      font-size: 1.3rem; }
    #footer .c-commercial i {
      top: 5px;
      color: #000;
      background-color: #999; }
  #footer .c-commercial--icon i {
    background-color: #c80000; }
  #footer .c-copyright {
    text-align: right;
    color: #fff;
    font-size: 1.1rem;
    padding: 3px 5px; }

/*------------------------------------------------------------
						SideBar
------------------------------------------------------------*/
#sidebar {
  *zoom: 1; }
  #sidebar:after {
    display: block;
    content: "";
    clear: both; }

.l-side {
  max-width: 250px;
  width: 100%;
  float: right; }
  .l-side .l-side__item1 {
    background: url("../image/bg_sidebar.png") no-repeat;
    padding: 14px 0 10px 0;
    margin-top: 20px; }
    .l-side .l-side__item1 .c-title {
      width: 89%;
      background: #886807;
      /* For browsers that do not support gradients */
      background: -webkit-linear-gradient(#886807, #deb332, #886807);
      /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(#886807, #deb332, #886807);
      /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(#886807, #deb332, #886807);
      /* For Firefox 3.6 to 15 */
      background: linear-gradient(#886807, #deb332, #886807);
      /* Standard syntax */
      margin: 0 auto;
      text-align: center; }
      .l-side .l-side__item1 .c-title h2 {
        font-size: 1.8rem;
        color: #000;
        font-weight: 700;
        text-shadow: 2px 2px 8px #fae85a; }
    .l-side .l-side__item1 .c-recovery {
      padding: 15px 25px 5px 25px; }
      .l-side .l-side__item1 .c-recovery .c-recovery-item a {
        color: #fff;
        font-size: 1.3rem; }
      .l-side .l-side__item1 .c-recovery .c-recovery-item i {
        padding-right: 5px;
        color: #c80000; }
    .l-side .l-side__item1 .c-title-bot {
      text-align: center; }
    .l-side .l-side__item1 .c-phone {
      margin: 20px 10px 5px 10px;
      color: #fff; }
      .l-side .l-side__item1 .c-phone .c-phone__tel {
        font-size: 2.6rem; }
      .l-side .l-side__item1 .c-phone .c-phone__infotel {
        font-size: 1.3rem;
        letter-spacing: -0.1px; }
  .l-side .l-side__item2 {
    border-radius: 6px;
    overflow: hidden;
    margin: 5px 0 20px 0; }
    .l-side .l-side__item2 .c-title {
      text-align: center; }
      .l-side .l-side__item2 .c-title h2 {
        font-size: 1.8rem;
        color: #fff;
        background-color: #333;
        padding: 10px 0; }
  .l-side .l-side__item2--custom1 .c-commercial {
    border-bottom: 10px solid #c80000; }
  .l-side .l-side__item2--custom1 .c-title h2 {
    background-color: #c80000; }
  .l-side .l-side__item2--custom1 .c-commercial i {
    background-color: #c80000; }
  .l-side .l-side__item2--custom2 {
    border-radius: 0; }
    .l-side .l-side__item2--custom2 .c-commercial {
      padding: 0 5px;
      border: none;
      border-top: 5px solid #444;
      border-bottom: 5px solid #444; }
      .l-side .l-side__item2--custom2 .c-commercial .c-commercial-item {
        border-bottom: 1px dotted #444; }

/*------------------------------------------------------------

------------------------------------------------------------*/
body {
  margin: 0;
  padding: 0; }

.p-wrapper {
  background-color: #000; }

.l-container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto; }

.c-commercial {
  border: 1px solid #444;
  padding: 5px 10px;
  border-bottom: 10px solid #444; }
  .c-commercial .c-commercial-item {
    padding: 10px 2px 10px 18px;
    line-height: 1.8rem;
    position: relative;
    border-bottom: 1px solid #444; }
  .c-commercial .c-commercial-item:last-child {
    border: none; }
  .c-commercial a {
    color: #fff;
    font-size: 1.3rem; }
  .c-commercial i {
    position: absolute;
    font-size: 0.6rem;
    padding: 3px 4px;
    color: #000;
    background-color: #444;
    left: 0;
    top: 12px; }

/*------------------------------------------------------------
	top page
------------------------------------------------------------*/
/* 
------------------------------------------------------------*/
/*------------------------------------------------------------
margin
------------------------------------------------------------*/
.u-mt0 {
  margin-top: 0px !important; }

.u-mt5 {
  margin-top: 5px !important; }

.u-mt10 {
  margin-top: 10px !important; }

.u-mt15 {
  margin-top: 15px !important; }

.u-mt20 {
  margin-top: 20px !important; }

.u-mt25 {
  margin-top: 25px !important; }

.u-mt30 {
  margin-top: 30px !important; }

.u-mt35 {
  margin-top: 35px !important; }

.u-mt40 {
  margin-top: 40px !important; }

.u-mt45 {
  margin-top: 45px !important; }

.u-mt50 {
  margin-top: 50px !important; }

.u-mb0 {
  margin-bottom: 0px !important; }

.u-mb5 {
  margin-bottom: 5px !important; }

.u-mb10 {
  margin-bottom: 10px !important; }

.u-mb15 {
  margin-bottom: 15px !important; }

.u-mb20 {
  margin-bottom: 20px !important; }

.u-mb25 {
  margin-bottom: 25px !important; }

.u-mb30 {
  margin-bottom: 30px !important; }

.u-mb35 {
  margin-bottom: 35px !important; }

.u-mb40 {
  margin-bottom: 40px !important; }

.u-mb45 {
  margin-bottom: 45px !important; }

.u-mb50 {
  margin-bottom: 50px !important; }

/*------------------------------------------------------------
Anchor position
------------------------------------------------------------*/
/*------------------------------------------------------------
for develop browser-sync
------------------------------------------------------------*/
#__bs_notify__ {
  opacity: 0.3 !important;
  font-size: 5px !important;
  line-height: 100% !important;
  padding: 0 5px 0 5px !important;
  -webkit-border-radius: 0 !important;
  border-radius: 0 !important; }

/*------------------------------------------------------------
Color
------------------------------------------------------------*/
/*------------------------------------------------------------
Adjust tracking tag space
------------------------------------------------------------*/
.trackTags {
  display: none; }
