{{#extend "default"}} {{#content "main"}}
<section id="p-main">
    <div class="l-breadcrumb">
        <hr>
        <div class="l-container">
            <ul class="c-breadcrumb">
                <li class="c-breadcrumb__item"><a href="">ホーム ＞</a></li>
                <li class="c-breadcrumb__item active"><a href="">会社概要</a></li>
            </ul>
        </div>
    </div>
    <div class="l-container">
        <div class="l-main">
            <div class="l-aboutus">
                <h2 class="c-title title-bg">会社概要</h2>
                <div class="c-table">
                    <div class="c-table__left">会社名</div>
                    <div class="c-table__right">リサイクルマスター英雄</div>
                </div>
                <div class="c-table">
                    <div class="c-table__left">代表者</div>
                    <div class="c-table__right">斉藤　誠人</div>
                </div>
                <div class="c-table">
                    <div class="c-table__left">古物商許可証</div>
                    <div class="c-table__right">第985号</div>
                </div>
                <div class="c-table">
                    <div class="c-table__left">事務所所在地</div>
                    <div class="c-table__right">京都板橋区小豆沢2-21-2 <br> 千葉県市川市日の出22-1 <br> 千葉県松戸市和名ヶ谷1333 <br> 茨城県下妻市五箇530-8
                    </div>
                </div>
                <div class="c-table">
                    <div class="c-table__left">電話番号(フリーダイヤル)</div>
                    <div class="c-table__right">0120-485-888</div>
                </div>
                <div class="c-table">
                    <div class="c-table__left">携帯電話</div>
                    <div class="c-table__right">070-2177-7772</div>
                </div>
            </div>
            {{#block "map"}} {{>map}} {{/block}} {{#block "city_area"}} {{>city_area}} {{/block}}
        </div>
    </div>
</section>
{{/content}} {{/extend}}