{{#extend "default"}} {{#content "main"}}
<section id="p-main">
    <div class="l-houjin">
        <div class="l-breadcrumb">
            <hr>
            <div class="l-container">
                <ul class="c-breadcrumb">
                    <li class="c-breadcrumb__item"><a href="">ホーム ＞</a></li>
                    <li class="c-breadcrumb__item active"><a href="">法人のお客様</a></li>
                </ul>
            </div>
            <h2 class="c-title">法人のお客様</h2>
        </div>
        <div class="l-container">
            <div class="c-imggroup">
                <img class="c-imggroup__item" src="/image/houjin/houjin-1.png" alt="">
                <img class="c-imggroup__item" src="/image/houjin/houjin-2.png" alt="">
                <img class="c-imggroup__item" src="/image/houjin/houjin-3.png" alt="">
            </div>
        </div>
    </div>
</section>
{{/content}} {{/extend}}