{{#extend "default"}} {{#content "main"}}
<section id="p-main">
    <div class="l-container">
        <div id="slider">
            <div class="l-slider img_slider">
                <div class="c-left_slide">
                    <div class="c-left_slide__time">
                        <ul>
                            <li class="c-left_slide__time-item"><a href="#">年中無休</a></li>
                            <li class="c-left_slide__time-item"><a href="#">即日対応</a></li>
                            <li class="c-left_slide__time-item"><a href="#">秘密厳守</a></li>
                            <li class="c-left_slide__time-item"><a href="#">見積無料</a></li>
                        </ul>
                    </div>
                    <div class="c-left_slide__info">
                        <p class="c-left_slide__info-item">業務用厨房機器からオフィス用品まで、 様々な不要品を回収！
                        </p>
                    </div>
                </div>
                <div class="c-right_slide">
                    <p class="c-right_slide__quotation">お見積・ご相談無料</p>
                    <div class="c-right_slide__phone"><img src="/image/phone.png" alt="">0120-485-888</div>
                    <p class="c-right_slide__info">フリーダイヤル　携帯・PHSからもOK!</p>
                    <p class="c-right_slide__24h"> <span>24</span> 時間電話対応</p>
                    <div class="c-right_slide__corporate">
                        法人の<br>お客様
                    </div>
                    <div class="c-right_slide__corporate c-right_slide__corporate--custom">
                        個人の<br>お客様
                    </div>
                </div>
            </div>
            <div class="l-slider img_slider">
                <div class="c-left_slide">
                    <div class="c-left_slide__time">
                        <ul>
                            <li class="c-left_slide__time-item"><a href="#">年中無休</a></li>
                            <li class="c-left_slide__time-item"><a href="#">即日対応</a></li>
                            <li class="c-left_slide__time-item"><a href="#">秘密厳守</a></li>
                            <li class="c-left_slide__time-item"><a href="#">見積無料</a></li>
                        </ul>
                    </div>
                    <div class="c-left_slide__info">
                        <p class="c-left_slide__info-item">業務用厨房機器からオフィス用品まで、 様々な不要品を回収！
                        </p>
                    </div>
                </div>
                <div class="c-right_slide">
                    <p class="c-right_slide__quotation">お見積・ご相談無料</p>
                    <div class="c-right_slide__phone"><img src="/image/phone.png" alt="">0120-485-888</div>
                    <p class="c-right_slide__info">フリーダイヤル　携帯・PHSからもOK!</p>
                    <p class="c-right_slide__24h"> <span>24</span> 時間電話対応</p>
                    <div class="c-right_slide__corporate">
                        法人の<br>お客様
                    </div>
                    <div class="c-right_slide__corporate c-right_slide__corporate--custom">
                        個人の<br>お客様
                    </div>
                </div>
            </div>
            <div class="img_slider"><img src="/image/bg_slide.png" alt=""></div>
            <div class="img_slider"><img src="/image/bg_slide.png" alt=""></div>
            <div class="img_slider"><img src="/image/bg_slide.png" alt=""></div>
        </div>
        <div class="l-unused">
            <div class="c-imgunused-title">
                <img class="c-imgunused-title__img" src="image/bg_main.png" alt="">
            </div>
            <div class="c-customer">
                <div class="c-customer__individuals">
                    <div class="c-customer__individuals-item">
                        <h2 class="c-customer__individuals-item__title">個人さま向け</h2>
                        <div class="c-customer__individuals-item__items">
                            <div class="c-customer__individuals-item__items-img"><img src="/image/individuals-img1.png" alt=""></div>
                            <div class="c-customer__individuals-item__items-text">
                                <h3 class="c-customer__individuals-item__items-text__title">粗大 ゴミ・家具・家電・ 生活雑貨の処分
                                </h3>
                                <p class="c-customer__individuals-item__items-text__info">片付けや引越しなどでいらなくなった 家庭から出る不用品を回収いたします。
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="c-customer__individuals-item">
                        <div class="c-customer__individuals-item__items">
                            <div class="c-customer__individuals-item__items-img"><img src="/image/individuals-img2.png" alt=""></div>
                            <div class="c-customer__individuals-item__items-text">
                                <h3 class="c-customer__individuals-item__items-text__title">ゴミ屋敷整理</h3>
                                <p class="c-customer__individuals-item__items-text__info">気がついたらいらない物がいっぱいになっていませんか？<br> 何から手をつけていいのか悩んでしまうようなお片づけにも対応いたします。 ワケあり物件もOK です。
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="c-customer__individuals-item">
                        <div class="c-customer__individuals-item__items">
                            <div class="c-customer__individuals-item__items-img"><img src="/image/individuals-img3.png" alt=""></div>
                            <div class="c-customer__individuals-item__items-text">
                                <h3 class="c-customer__individuals-item__items-text__title">遺品整理</h3>
                                <p class="c-customer__individuals-item__items-text__info">お時間がなかなかとれないご家族に代わって大事な思い出の品を大切に処理いたします。
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="c-customer__individuals c-customer__individuals--corporations">
                    <div class="c-customer__individuals-item">
                        <h2 class="c-customer__individuals-item__title">法人さま向け</h2>
                        <div class="c-customer__individuals-item__items">
                            <div class="c-customer__individuals-item__items-img"><img src="/image/corporations-img1.png" alt=""></div>
                            <div class="c-customer__individuals-item__items-text">
                                <h3 class="c-customer__individuals-item__items-text__title">オフィス家具・事務用品・ <br>OA機器
                                </h3>
                                <p class="c-customer__individuals-item__items-text__info">オフィス家具から事務用品まで丸ごと回収いたします。
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="c-customer__individuals-item">
                        <div class="c-customer__individuals-item__items">
                            <div class="c-customer__individuals-item__items-img"><img src="/image/corporations-img2.png" alt=""></div>
                            <div class="c-customer__individuals-item__items-text">
                                <h3 class="c-customer__individuals-item__items-text__title">作業用工具・業務用厨房機器・ 店内用品
                                </h3>
                                <p class="c-customer__individuals-item__items-text__info">業務用大型機器から小型工具まで丸ごと回収いたします。</p>
                            </div>
                        </div>
                    </div>
                    <div class="c-customer__individuals-item">
                        <div class="c-customer__individuals-item__items">
                            <div class="c-customer__individuals-item__items-img"><img src="/image/corporations-img3.png" alt=""></div>
                            <div class="c-customer__individuals-item__items-text">
                                <h3 class="c-customer__individuals-item__items-text__title">工場・倉庫・ガレージ・<br> 看板撤去
                                </h3>
                                <p class="c-customer__individuals-item__items-text__info">工場や倉庫。ガレージ内の不用品を丸ごと回収いたします。
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="l-cheaptruck">
            <h2 class="c-title">お得な格安トラック積み放題パック</h2>
            <h3 class="c-collect">まとめて回収！</h3>
            <div class="c-cheaptruck-group c-cheaptruck-group--item1">
                <h3 class="c-cheaptruck-group__title">1K程度の小さなお部屋の片付けに</h3>
                <div class="c-room">
                    <h4 class="c-room__as">軽（平）トラック1台積み詰め放題</h4>
                    <p class="c-room__price">￥19,000-</p>
                    <ul class="c-room__worker">
                        <li class="c-room__worker-item"><a href=""><i class="fa fa-play"></i>1Fの作業員1名（助手1名5,000円〜）</a></li>
                        <li class="c-room__worker-item"><a href=""><i class="fa fa-play"></i>2F〜最大25,000円</a></li>
                    </ul>
                    <p class="c-room__electronics">※家電・鋳物のみなら <span>￥16,000-</span></p>
                    <p class="c-room__basiccharge">※不用品回収作業60分程度を基本料金の最低目安にしております。</p>
                </div>
            </div>
            <div class="c-cheaptruck-group c-cheaptruck-group--item2">
                <h3 class="c-cheaptruck-group__title">1K〜1DK程度のお部屋の片付けに</h3>
                <div class="c-room">
                    <h4 class="c-room__as">1トン平トラック1台積み詰め放題</h4>
                    <p class="c-room__price">￥29,000-</p>
                    <ul class="c-room__worker">
                        <li class="c-room__worker-item"><a href=""><i class="fa fa-play"></i>1Fの作業員1名 <br>（助手1名5,000円〜）</a></li>
                        <li class="c-room__worker-item"><a href=""><i class="fa fa-play"></i>2F〜最大35,000円</a></li>
                    </ul>
                    <p class="c-room__basiccharge">※不用品回収作業60分程度を基本料金の最低目安にしております。</p>
                </div>
            </div>
            <div class="c-cheaptruck-group c-cheaptruck-group--item3">
                <h3 class="c-cheaptruck-group__title">1DK〜2DK程度のお部屋の片付けに</h3>
                <div class="c-room">
                    <h4 class="c-room__as">2トン平トラック1台積み詰め放題</h4>
                    <p class="c-room__price">￥40,000-</p>
                    <ul class="c-room__worker">
                        <li class="c-room__worker-item"><a href=""><i class="fa fa-play"></i>1Fの作業員1名 <br>（助手1名5,000円〜）</a></li>
                        <li class="c-room__worker-item"><a href=""><i class="fa fa-play"></i>2F〜最大50,000円</a></li>
                    </ul>
                    <p class="c-room__basiccharge">※不用品回収作業90分程度を基本料金の最低目安にしております。</p>
                </div>
            </div>
            <div class="c-cheaptruck-group c-cheaptruck-group--item4">
                <h3 class="c-cheaptruck-group__title">2DK〜2LDK程度のお部屋の片付けに</h3>
                <div class="c-room">
                    <h4 class="c-room__as">2トン箱トラック1台積み詰め放題</h4>
                    <p class="c-room__price">￥80,000-</p>
                    <ul class="c-room__worker">
                        <li class="c-room__worker-item"><a href=""><i class="fa fa-play"></i>1Fの作業員2名 <br>（助手1名5,000円〜）</a></li>
                        <li class="c-room__worker-item"><a href=""><i class="fa fa-play"></i>2F〜最大95,000円</a></li>
                    </ul>
                    <p class="c-room__basiccharge">※不用品回収作業120分程度を基本料金の最低目安にしております。</p>
                </div>
            </div>
        </div>
    </div>
    <div class="l-satisfaction">
        リサイクルマスター英雄はお客様満足度No.1を目指しています
    </div>
    <div class="l-container">
        <div class="l-main">
            <p class="l-main__info">
                リサイクルマスター英雄では、法人のお客様を対象とした業務用厨房機器・店舗用品・オフィス機器・オフィス用品の買取、無料回収、格安処分を行っております。<br>また、個人のお客様を対象とした家電家具・パソコン・ゲーム機・不用品・ゴミ・遺品の買取・回収・処分等も幅広く行っております。
                引っ越しや店舗移転の際に出る多量の不用品の処分やゴミ屋敷の処分など、不用品でお困りの方の力になりますので、ぜひお気軽にご相談ください。
                <br> <br> また、リサイクルマスター英雄では、「どこよりも高く買い取り、どこよりも安く処分できる」をモットーにお客様の負担を少しでも減らせるように意識しています。対応に関しましても、「即日対応・無料見積り・無料相談・テキパキとした対応・動き」を基軸とし、日々の業務に取り組んでいます。
                価格面・対応面の両方において、不用品買取・回収・処分業界における、ナンバーワンの満足度を目指しています。
                <br>不用品処分をお考えの方は是非一度リサイクルマスター英雄にご相談下さい！お客様の不用品処分を全力でサポート致します！
            </p>
            <div class="l-beginners">
                <h1 class="c-title title-bg">初めての方へ </h1>
                <p class="c-infotext">リサイクルマスター英雄では、法人様から個人様まで、不用品等の買取・無料回収・格安処分等を行っております。<br> 大量の処分品でも当社で分別作業して廃棄致しますのでお時間がない方もお気軽にお申込みください！
                    <br> ※新しい家電・ブランド家具等で良い物は高価買取できる場合もございます。 </p>
            </div>
            <div class="l-recycle3f">
                <h2 class="c-title">リサイクルマスター英雄３つの特徴</h2>
                <div class="c-process">
                    <div class="c-process__img">
                        <img src="/image/process-img1.png" alt="">
                    </div>
                    <div class="c-process__info">
                        <h3 class="c-process__info-title">同時に丸ごと買取・無料回収・格安処分でお得！</h3>
                        <p class="c-process__info-text">リサイクルマスター英雄では、多量処分にも対応致します！不用となった電化製品・家具・家電・オフィス用品・業務用厨房機器・パソコン・ゲーム等の処分でお困りでしたら、お気軽にご連絡下さい！不用品の丸ごと買取・無料回収・格安処分が同時にできますので、お時間のない方でも便利でお得です！また、オフィス・店舗をはじめ、家一軒丸ごとの片付け等も行っており、素早く丁寧をモットーに仕事をしております！
                        </p>
                        <ul class="c-process__info-list">
                            <li class="c-process__info-list__item"><a href="#">丸ごと買取</a></li><span>+</span>
                            <li class="c-process__info-list__item"><a href="#">無料回収</a></li><span>+</span>
                            <li class="c-process__info-list__item"><a href="#">格安処分</a></li>
                        </ul>
                    </div>
                </div>
                <div class="c-process">
                    <div class="c-process__img">
                        <img src="/image/process-img2.png" alt="">
                    </div>
                    <div class="c-process__info">
                        <h3 class="c-process__info-title">即日対応可能でお得！</h3>
                        <p class="c-process__info-text">リサイクルマスター英雄は、即日対応可能です！お電話一本で、不用品を回収致します。まずはお見積りを致しますので、お気軽にお問い合わせ下さい。
                        </p>
                        <ul class="c-process__info-list c-process__info-list--item2">
                            <li class="c-process__info-list__item"><a href="#">即日対応可能</a></li>
                        </ul>
                    </div>
                </div>
                <div class="c-process">
                    <div class="c-process__img">
                        <img src="/image/process-img3.png" alt="">
                    </div>
                    <div class="c-process__info">
                        <h3 class="c-process__info-title">どこよりも高く買い取り、安く処分でお得！</h3>
                        <p class="c-process__info-text">リサイクルマスター英雄は不用品買取・処分・ゴミ回収の業界No.1を目指しております。無料お見積もり後、万一他社様と比べて1円でも高かった場合は、再度お見積もりをし、お客様が納得できる金額を再度ご提示させて頂きます！
                        </p>
                        <ul class="c-process__info-list c-process__info-list--item3">
                            <li class="c-process__info-list__item"><a href="#">高価買取</a></li><span>+</span>
                            <li class="c-process__info-list__item"><a href="#">格安処分</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            {{#block "collected"}} {{> collected}} {{/block}}{{#block "map"}} {{> map}} {{/block}} {{#block "city_area"}} {{> city_area}}
            {{/block}}
        </div>
    </div>
</section>
{{/content}} {{/extend}}