{{#extend "default"}} {{#content "main"}}
<section id="p-main">
    <div class="l-kojin_PCgame">
        <div class="l-breadcrumb">
            <hr>
            <div class="l-container">
                <ul class="c-breadcrumb">
                    <li class="c-breadcrumb__item"><a href="">ホーム ＞</a></li>
                    <li class="c-breadcrumb__item active"><a href="">業務用厨房機器 買取・無料回収・格安処分</a></li>
                </ul>
            </div>
        </div>
        <div class="l-container">
            <div class="l-kojin_PCgame--bg">
                <h2 class="c-title">パソコン・小型家電・ゲーム機 <br> 無料回収承ります！
                </h2>
                <div class="l-banner">
                    <div class="c-info">
                        {{#block "banner"}} {{> banner}} {{/block}}
                    </div>
                    <div class="c-img">
                        <img src="/image/kojin_PCgame/icon-bg.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="l-satisfaction l-satisfaction--mod">
            <div class="l-container">
                パソコン・ゲーム機・小型家電 無料回収
            </div>
        </div>
        <div class="l-container">
            <div class="l-main">
                <div class="c-computer">
                    <img src="/image/kojin_PCgame/img-text.png" alt="">
                    <h2 class="c-computer__title">不要になった、パソコンはございませんか？</h2>
                    <p class="c-computer__info">リサイクルマスター英雄では新たに、不要になったパソコンの買取・無料回収・格安処分を始めました！ご家庭やオフィスなどで不要になったパソコンの処分をお考えなら簡単・シンプルな弊社サービスをご利用下さい。</p>
                    <div class="c-computer__group">
                        <p class="c-computer__group-text">＊手続き等は一切不要のサービスです。</p>
                        <div class="c-computer__group-img">
                            <img src="/image/kojin_PCgame/img-item1.png" alt="">
                            <p>処分できるかどうかをチェック<br><span>（お電話にてご相談下さい）</span></p>
                        </div>
                        <div class="c-computer__group-img">
                            <img src="/image/kojin_PCgame/img-item2.png" alt="">
                            <p>包装する</p>
                        </div>
                        <div class="c-computer__group-img">
                            <img src="/image/kojin_PCgame/img-item3.png" alt="">
                            <p>配送する</p>
                        </div>
                    </div>
                </div>
                <div class="l-collection">
                    <h2 class="c-title title-bg">手順</h2>
                    <div class="c-colection_group">
                        <div class="c-colection_group__item">
                            <img src="/image/kojin_PCgame/collection_circle1.png" width="170px" height="130px" alt="">
                        </div>
                        <div class="c-colection_group__item">
                            <img src="/image/kojin_PCgame/collection_circle2.png" width="170px" height="130px" alt="">
                        </div>
                        <div class="c-colection_group__item">
                            <img src="/image/kojin_PCgame/collection_circle3.png" width="170px" height="130px" alt="">
                        </div>
                    </div>
                    <div class="c-quotation">
                        <div class="c-quotation__info">
                            <h3 class="c-quotation__info-item1">処分可能かどうかのチェック</h3>
                            <p class="c-quotation__info-item2">
                                ＜ＰＣ関係＞ <br> ○処分可能例 <br> タブレット・スマホ・デスクトップ・ノートPC・液晶モニタ・MAC・オフィス・アダプタ・ケーブル・マウス・キーボード・プレイステーション・ニンテンドー・XBOX等
                            </p>
                            <p class="c-quotation__info-item2">
                                ○処分不可例 <br> ブラウン管モニタ・ブラウン管パソコン・テレビ・ビデオ・画面に損傷があるパソコン・パーツのみ・プリンタ・ワープロ・スキャナ等
                            </p>
                            <p class="c-quotation__info-item2">
                                その他処分ご希望の品がございましたら下記番号までお気軽にご相談ください。
                            </p>
                            <div class="c-quotation__info-item3">
                                <h4 class="c-quotation__info-item3__title">お気軽にお問い合わせ下さい</h4>
                                <div class="c-quotation__info-item3__phone"><img src="/image/phone.png" alt="">0120-485-888</div>
                                <p class="c-quotation__info-item3__phs">携帯・PHSからもOK!</p>
                                <h4 class="c-quotation__info-item3__info">お電話がつながりにくい場合 070-2177-7772<span>24時間対応</span></h4>
                            </div>
                        </div>
                        <div class="c-quotation__img">
                            <img src="/image/kojin_PCgame/img-item4.png" alt="">
                            <img class="c-quotation__img--mod" src="/image/kojin_PCgame/img-item5.png" alt="">
                        </div>
                    </div>
                    <div class="c-quotation">
                        <div class="c-quotation__info">
                            <h3 class="c-quotation__info-item1">包装</h3>
                            <p class="c-quotation__info-item2">
                                製品を段ボールに包装します。<br> ＊段ボール代は弊社では負担致しません。
                                <br> ＊付属品等はパソコン本体と同じ箱に入れてください。
                            </p>
                        </div>
                        <div class="c-quotation__img">
                            <img src="/image/kojin_PCgame/img-item6.png" alt="">
                        </div>
                    </div>
                    <div class="c-quotation">
                        <div class="c-quotation__info">
                            <h3 class="c-quotation__info-item1">配送</h3>
                            <p class="c-quotation__info-item2">
                                製品を配送します。<br> ＊配送連絡は不要です。
                                <br> ＊必ずクロネコヤマト「宅急便」をご利用下さい。
                                <br> ＊送料は弊社では負担致しません。

                            </p>
                        </div>
                        <div class="c-quotation__img">
                            <img src="/image/kojin_PCgame/img-item7.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="c-kuroneko">
                    <div class="c-kuroneko__title">クロネコヤマト宅急便（お届け先）</div>
                    <ul class="c-kuroneko__list">
                        <li class="c-kuroneko__list-item"><a href="#"><i class="fa fa-play"></i>郵便番号： 270-2232</a></li>
                        <li class="c-kuroneko__list-item"><a href="#"><i class="fa fa-play"></i>住所：千葉県松戸市和名ヶ谷1333</a></li>
                        <li class="c-kuroneko__list-item"><a href="#"><i class="fa fa-play"></i>電話番号：0120-485-888</a></li>
                        <li class="c-kuroneko__list-item"><a href="#"><i class="fa fa-play"></i>氏名：リサイクルマスター英雄</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{{/content}} {{/extend}}