{{#extend "default"}} {{#content "main"}}
<section id="p-main">
    <div class="l-kojin_gomiihin">
        <div class="l-breadcrumb">
            <hr>
            <div class="l-container">
                <ul class="c-breadcrumb">
                    <li class="c-breadcrumb__item"><a href="">ホーム ＞</a></li>
                    <li class="c-breadcrumb__item active"><a href="">不用品回収・ゴミ処分・遺品整理</a></li>
                </ul>
            </div>
        </div>
        <div class="l-container">
            <div class="l-kojin_gomiihin--bg">
                <h2 class="c-title">不用品回収・ゴミ処分・遺品整理なら <br> リサイクルマスター英雄にお任せ！
                </h2>
                <div class="l-banner">
                    <div class="c-info">
                        {{#block "banner"}} {{> banner}} {{/block}}
                    </div>
                    <div class="c-img">
                        <img src="/image/kojin_gomiihin/icon-bg.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="l-satisfaction l-satisfaction--mod">
            <div class="l-container">
                不用品回収・ゴミ処分・遺品整理
            </div>
        </div>
        <div class="l-container">
            <div class="l-main">
                <p class="l-main__info">
                    リサイクルマスター英雄では、東京都を拠点として10年あまり、東京都/千葉県/埼玉県/茨城県/神奈川県など関東圏で不用品回収・ゴミ処分・遺品整理に関するお仕事をさせていただいております。不用品の回収、状態の良いものは買い取りもさせていただいております。大量の処分品でも当社で分別作業して廃棄致しますので個人の方はもちろん、法人の方、お時間がない方もお気軽にお申込みください。また、リサイクルマスター英雄は不用品処分、ゴミ回収の業界最安値を目指しております。
                    まずはフリーダイヤルで無料お見積もりをさせてください。 他社との比較歓迎です！総額で比べてください。万一他社との見積もりと比べて1円でも高かった場合には再度お見積もりさせてください。お客様が納得できる金額を再度ご提示させて頂きます！
                </p>
                <div class="l-kojin_gomiihin">
                    <h2 class="c-title title-bg">回収品目例</h2>
                    <div class="c-collected_items">
                        <img class="c-collected_items__img" src="/image/kojin_gomiihin/img-item1.png" alt="">
                        <img class="c-collected_items__img" src="/image/kojin_gomiihin/img-item2.png" alt="">
                        <img class="c-collected_items__img" src="/image/kojin_gomiihin/img-item3.png" alt="">
                        <img class="c-collected_items__img" src="/image/kojin_gomiihin/img-item4.png" alt="">
                        <img class="c-collected_items__img" src="/image/kojin_gomiihin/img-item5.png" alt="">
                        <img class="c-collected_items__img" src="/image/kojin_gomiihin/img-item6.png" alt="">
                        <img class="c-collected_items__img" src="/image/kojin_gomiihin/img-item7.png" alt="">
                        <img class="c-collected_items__img" src="/image/kojin_gomiihin/img-item8.png" alt="">
                    </div>
                    <div class="c-collected_info">
                        <p class="c-collected_info__item">
                            回収品目に関しましてはごく一部の例です。品目に関しましてはお気軽にご相談下さい。<br> また、リサイクルマスター英雄ではゴミ処分や遺品整理も行っております。処分等でお困りでしたらお気軽にご相談下さい
                        </p>
                        <p class="c-collected_info__item">
                            処分費用に関しましては価格表をご確認下さい。<br> 不用品回収専用のサイトも運営しております。
                        </p>
                    </div>
                    {{#block "map"}} {{> map}} {{/block}} {{#block "city_area"}} {{> city_area}} {{/block}}
                </div>
            </div>
        </div>
    </div>
</section>
{{/content}} {{/extend}}