{{#extend "default"}} {{#content "main"}}
<section id="p-main">
    <div class="l-breadcrumb">
        <hr>
        <div class="l-container">
            <ul class="c-breadcrumb">
                <li class="c-breadcrumb__item"><a href="">ホーム ＞</a></li>
                <li class="c-breadcrumb__item active"><a href="">価格表</a></li>
            </ul>
        </div>
    </div>

    <div class="l-container">
        <div class="l-main">
            <div class="c-recommend">
                <div class="c-title title-bg">格安お得なトラック<span>積み詰め放題</span></div>
                <div class="c-cheaptruck-group c-cheaptruck-group--item1">
                    <h3 class="c-cheaptruck-group__title">押し入れ〜1K程度の小さなお部屋の片付けにおすすめ</h3>
                    <div class="c-cheaptruck-group__recommend">
                        <div class="c-cheaptruck-group__recommend-img">
                            <img class="c-cheaptruck-group__recommend-img__item" src="/image/price_1.png" alt="">
                            <img class="c-cheaptruck-group__recommend-img__item" src="/image/pricelist/icon-dif1.png" alt="">
                        </div>
                        <div class="c-room">
                            <h4 class="c-room__as">軽（平）トラック1台積み詰め放題</h4>
                            <p class="c-room__price">￥19,000-</p>
                            <p class="c-room__info">押し入れ〜1K程度の小さなお部屋を片付けるのに、<br> おすすめのパックです。
                            </p>
                            <ul class="c-room__worker">
                                <li class="c-room__worker-item"><a href=""><i class="fa fa-play"></i>1Fの作業員1名（助手1名5,000円〜）</a></li>
                                <li class="c-room__worker-item"><a href=""><i class="fa fa-play"></i>2F〜最大25,000円</a></li>
                            </ul>
                            <p class="c-room__electronics">※家電・鋳物のみなら <span>￥16,000-</span></p>
                            <p class="c-room__basiccharge">※不用品回収作業60分程度を基本料金の最低目安にしております。</p>
                        </div>
                    </div>
                    <div class="c-example_collection">
                        <h4 class="c-example_collection__item1">回収一例</h4>
                        <p class="c-example_collection__item2">シングルベッド（脚付）/カラーボックス（3段）/センターテーブル/物干し竿 /石油ファンヒーター /衣装ケース(3段)/掃除機/コンポ/スーツケース/段ボール箱×1/電子レンジ/電気ポット/ギター/2ドア冷蔵庫/全自動洗濯機/薄型テレビ</p>
                    </div>
                </div>
                <!--end cheaptruck 1  -->
                <div class="c-cheaptruck-group c-cheaptruck-group--item2">
                    <h3 class="c-cheaptruck-group__title">1K〜1DK程度のお部屋の片付けにおすすめ</h3>
                    <div class="c-cheaptruck-group__recommend">
                        <div class="c-cheaptruck-group__recommend-img">
                            <img class="c-cheaptruck-group__recommend-img__item1" src="/image/price_2.png" alt="">
                            <img class="c-cheaptruck-group__recommend-img__item2" src="/image/pricelist/icon-dif2.png" alt="">
                        </div>
                        <div class="c-room">
                            <h4 class="c-room__as">1トン平トラック1台積み詰め放題</h4>
                            <p class="c-room__price">￥29,000-</p>
                            <p class="c-room__info">1K～１DK程度のお部屋を片付けるのに、おすすめのパック です。
                            </p>
                            <ul class="c-room__worker">
                                <li class="c-room__worker-item"><a href=""><i class="fa fa-play"></i>1Fの作業員1名（助手1名5,000円〜）</a></li>
                                <li class="c-room__worker-item"><a href=""><i class="fa fa-play"></i>2F〜最大35,000円 </a></li>
                            </ul>
                            <p class="c-room__basiccharge">※不用品回収作業60分程度を基本料金の最低目安にしております。</p>
                        </div>
                    </div>
                    <div class="c-example_collection">
                        <h4 class="c-example_collection__item1">回収一例</h4>
                        <p class="c-example_collection__item2">シングルベッド（脚付）/カラーボックス（3段）/テレビボード/オーブンレンジ/電気ポット/掃除機/木製デスク/キャビネット/整理箪笥/スーツケース/2ドア冷蔵庫/全自動洗濯機/薄型テレビ/エアコン/ゴミ袋(45L)×2/その他…</p>
                    </div>
                </div>
                <!--end cheaptruck 2  -->
                <div class="c-cheaptruck-group c-cheaptruck-group--item3">
                    <h3 class="c-cheaptruck-group__title">1DK〜2DK程度のお部屋の片付けにおすすめ</h3>
                    <div class="c-cheaptruck-group__recommend">
                        <div class="c-cheaptruck-group__recommend-img">
                            <img class="c-cheaptruck-group__recommend-img__item1" src="/image/price_3.png" alt="">
                            <img class="c-cheaptruck-group__recommend-img__item2" src="/image/pricelist/icon-dif3.png" alt="">
                        </div>
                        <div class="c-room">
                            <h4 class="c-room__as">2トン平トラック1台積み詰め放題</h4>
                            <p class="c-room__price">￥40,000-</p>
                            <p class="c-room__info">1DK～2DK程度のお部屋を片付けるのに、おすすめのパックです。
                            </p>
                            <ul class="c-room__worker">
                                <li class="c-room__worker-item"><a href=""><i class="fa fa-play"></i>1Fの作業員1名（助手1名5,000円〜）</a></li>
                                <li class="c-room__worker-item"><a href=""><i class="fa fa-play"></i>2F〜最大50,000円 </a></li>
                            </ul>
                            <p class="c-room__basiccharge">※不用品回収作業90分程度を基本料金の最低目安にしております。</p>
                        </div>
                    </div>
                    <div class="c-example_collection">
                        <h4 class="c-example_collection__item1">回収一例</h4>
                        <p class="c-example_collection__item2">シングルベッド（脚付）/扇風機 /カラーボックス（3段）/スーツケース /テレビボード/スノーボード/物干し竿/整理箪笥/石油ファンヒーター/木製デスク/掃除機/キャビネット/コンポ/布団（1組）/デスクトップパソコン/ダンボール箱×2/インクジェットプリンター/ごみ袋（45ℓ）×2/オーブンレンジ/2ドア冷蔵庫(109ℓ)/全自動洗濯機(4.2kg)/薄型テレビ/エアコン/その他…</p>
                    </div>
                </div>
                <!--end cheaptruck 3  -->
                <div class="c-cheaptruck-group c-cheaptruck-group--item4">
                    <h3 class="c-cheaptruck-group__title">2DK〜2LDK程度のお部屋の片付けにおすすめ</h3>
                    <div class="c-cheaptruck-group__recommend">
                        <div class="c-cheaptruck-group__recommend-img">
                            <img class="c-cheaptruck-group__recommend-img__item1" src="/image/price_4.png" alt="">
                            <img class="c-cheaptruck-group__recommend-img__item2" src="/image/pricelist/icon-dif4.png" alt="">
                        </div>
                        <div class="c-room">
                            <h4 class="c-room__as">2トン箱トラック1台積み詰め放題</h4>
                            <p class="c-room__price">￥80,000-</p>
                            <p class="c-room__info">2DK～2LDK程度のお部屋を片付けるのにおすすめのパックです。冷蔵庫、洗濯機、テレビ、エアコン、パソコンも一緒に回収できます。
                            </p>
                            <ul class="c-room__worker">
                                <li class="c-room__worker-item"><a href=""><i class="fa fa-play"></i>1Fの作業員2名（助手1名5,000円〜）</a></li>
                                <li class="c-room__worker-item"><a href=""><i class="fa fa-play"></i>2F〜最大95,000円 </a></li>
                            </ul>
                            <p class="c-room__basiccharge">※不用品回収作業120分程度を基本料金の最低目安にしております。</p>
                        </div>
                    </div>
                    <div class="c-example_collection">
                        <h4 class="c-example_collection__item1">回収一例</h4>
                        <p class="c-example_collection__item2">ダブルベッド/DVDプレーヤー/カラーボックス（3段）/コンポ/サイドボード/エアコン/物干し竿/扇風機/石油ファンヒーター/空気清浄機/掃除機/食器棚 /シーリングライト/二人掛けソファー/デスクトップパソコン/センターテーブル/インクジェットプリンター/布団（1組）/オーブンレンジ/ダンボール箱×4/電気ポット/ごみ袋（45ℓ）×3/ガステーブル（2口）/6ドア冷蔵庫(450ℓ)/全自動洗濯機(7.0kg)/薄型テレビ/その他…</p>
                    </div>
                </div>
                <!--end cheaptruck 4  -->
                <div class="c-cheaptruck-group c-cheaptruck-group--item5">
                    <h3 class="c-cheaptruck-group__title">ハーフプラン。お得なプランもございます。</h3>
                    <div class="c-cheaptruck-group__recommend">
                        <div class="c-cheaptruck-group__recommend-img">
                            <img class="c-cheaptruck-group__recommend-img__item1" src="/image/price_5.png" alt="">
                            <img class="c-cheaptruck-group__recommend-img__item2" src="/image/pricelist/icon-dif5.png" alt="">
                        </div>
                        <div class="c-room">
                            <h4 class="c-room__as">軽トラ1台 鋳物・家電のみなら</h4>
                            <p class="c-room__price">￥16,000-</p>
                            <h4 class="c-room__as">軽トラ1台 半分の不用品回収</h4>
                            <p class="c-room__price">￥ 9,000-</p>
                            <p class="c-room__info">そんなに多くの容量はいらない‥という方向けに、お得なハーフプランもございます。2トントラックでもお安くできますので、お気軽にご相談下さい。
                            </p>
                            <p class="c-room__basiccharge">※軽トラ1台半分の不用品回収9,000円の料金は東京・千葉・埼玉の一部地域限定のプランとなっております。</p>
                        </div>
                    </div>
                </div>
                <!--end cheaptruck 5  -->
            </div>
            <!--end c-recommend  -->
            <div class="c-notes">
                <h3 class="c-notes__title">ご利用時の注意</h3>
                <div class="c-notes__group">
                    <p class="c-notes__group-item">申込み時に搬出経路、階数、品物をお聞きしますが、状況によりオプション料金が掛かる事が有ります。</p>
                    <p class="c-notes__group-item">危険物などは事前にお客様で分別していただく必要が有ります（ライター、マッチ、スプレー缶など）</p>
                    <p class="c-notes__group-item">危険物、医療廃棄物、生ゴミ、動物の死骸、血液などが付着したものはお引き受けできません。</p>
                    <p class="c-notes__group-item">金庫やピアノなどの特殊重量物、建築系廃棄物、消火器、可燃物、液体、食品、土砂石などは定額パックの対象外 (別途料金)となります。
                    </p>
                    <p class="c-notes__group-item">回収の都合上、記載のトラックより大型の車両での回収になる場合が有ります。</p>
                    <p class="c-notes__group-item">テレビ、冷蔵庫、ソファー、ソファーベッドは各１台までの回収が基本パックとなっております。２台目以降の回収は 別途料金が発生する場合がございますので、予めご相談ください。
                    </p>
                </div>
            </div>
            <!--end c-notes  -->
            <div class="c-calculate">
                <div class="c-title title-bg">料金の計算方法</div>
                <p class="c-calculate__info">リサイクルマスター英雄は明朗会計です！<br> 基本料金2000円に下記個別回収料金を足してください。
                    <br> 個別回収料金が8000円を越す場合は基本料金は無料とさせて頂きます！
                    <br> 多数の回収品が有る場合はトラック積み放題プランの方がお得な場合がありますのでご比較ください。
                </p>
                <div class="c-calculate__excalculation">
                    <h2 class="c-calculate__excalculation-title">料金の計算方法の一例</h2>
                    <div class="c-calculate__excalculation-procedure">
                        <img src="/image/pricelist/customer.png" alt="">
                    </div>
                    <div class="c-calculate__excalculation-procedure">
                        <img src="/image/pricelist/customer1.png" alt="">
                    </div>
                    <div class="c-calculate__excalculation-procedure c-calculate__excalculation-procedure--mod">
                        <img src="/image/pricelist/customer3.png" alt="">
                    </div>
                    <h3 class="c-calculate__excalculation-pay">精算額　<span>8,500</span>円</h3>
                </div>
            </div>
            <!--end c-calculate  -->
            <div class="c-special_fee">
                <h3 class="c-special_fee-item1"><span>※</span> 特殊作業料金とは・・・</h3>
                <p class="c-special_fee-item2">特殊作業料金は階段を通る運び出し（大きな家具や家電を運び出す際）に掛かる料金例です。<br> 50キロ以上の回収物の場合は別途見積りとなります。
                    <br> 大きい回収物で室内からは運び出せない場合にベランダや窓から吊り下ろしになる場合や、エアコン回収で取り外し作業が発生する場合、18：00以降の夜間作業の場合は、別途見積りとなります。予めご相談ください。
                </p>
            </div>
        </div>
    </div>

</section>
{{/content}} {{/extend}}