<div class="l-city_area">
    <div class="c-tokyo">
        <p class="c-tokyo__item">23区・中央区・港区・新宿区・文京区・台東区・千代田区・墨田区・江東区・品川区・目黒区・大田区・世田谷区・渋谷区・中野区・杉並区・豊島区・北区・荒川区・板橋区・練馬区・足立区・葛飾区・江戸川区・八王子市・田無市・立川市・武蔵野市・三鷹市・府中市・昭島市・調布市・町田市・小金井市・小平市・日野市・東村山市・国分寺市・国立市・西東京市・福生市・狛江市・東大和市・清瀬市・東久留米市・武蔵村山市・多摩市・稲城市・あきる野市・羽村市・青梅市
            その他・・・
        </p>
    </div>
    <div class="c-tokyo c-tokyo--yellow">
        <p class="c-tokyo__item">さいたま市/西区・岩槻区・緑区・見沼区・浦和区・南区・北区・大宮区・中央区・桜区・川口市・蕨市・戸田市・上尾市・伊奈町・川越市・所沢市・狭山市・入間市・富士見市・新座市・志木市・朝霞市・和光市・ふじみ野市・入間郡三芳町・越谷市・草加市・春日部市・三郷市・八潮市・吉川市・松伏町・南埼玉郡宮代町・白岡市・久喜市・北葛飾郡杉戸町・・・
        </p>
    </div>
    <div class="c-tokyo c-tokyo--sliver">
        <p class="c-tokyo__item">千葉市/中央区・若葉区・緑区・美浜区・稲毛区・花見川区・印旛郡栄町印西市・浦安市・我孫子市・鎌ヶ谷市・四街道市・市原市・市川市・習志野市・松戸市・船橋市・柏市・佐倉市・白井市・八千代市・野田市・流山市・成田市・富里市・八街市・・・茨城県守谷市・利根町・取手市
        </p>
    </div>
    <div class="c-citysome_area">
        <p>その他神奈川県・茨城県の一部地域も対応しておりますので、ご相談ください。</p>
    </div>
</div>