<div class="l-collection">
    <h2 class="c-title title-bg">買取・回収の流れ</h2>
    <div class="c-colection_group">
        <div class="c-colection_group__item">
            <img src="/image/collection_circle1.png" width="170px" height="130px" alt="">
        </div>
        <div class="c-colection_group__item">
            <img src="/image/collection_circle2.png" width="170px" height="130px" alt="">
        </div>
        <div class="c-colection_group__item">
            <img src="/image/collection_circle3.png" width="170px" height="130px" alt="">
        </div>
    </div>
    <div class="c-quotation">
        <div class="c-quotation__info">
            <h3 class="c-quotation__info-item1">無料お見積り</h3>
            <p class="c-quotation__info-item2">まずはお見積りをさせていただきます。相談・お見積りは無料！即日・夜間でも対応が可能です！</p>
            <div class="c-quotation__info-item3">
                <h4 class="c-quotation__info-item3__title">お気軽にお問い合わせ下さい</h4>
                <div class="c-quotation__info-item3__phone"><img src="/image/phone.png" alt="">0120-485-888</div>
                <p class="c-quotation__info-item3__phs">携帯・PHSからもOK!</p>
                <h4 class="c-quotation__info-item3__info">お電話がつながりにくい場合 070-2177-7772<span>24時間対応</span></h4>
            </div>
        </div>
        <div class="c-quotation__img">
            <img src="/image/quotation__img1.png" alt="">
        </div>
    </div>
    <div class="c-quotation">
        <div class="c-quotation__info">
            <h3 class="c-quotation__info-item1">買取・回収のご契約</h3>
            <p class="c-quotation__info-item2">ご契約後、御希望の回収日時にお伺い致します。</p>
        </div>
        <div class="c-quotation__img">
            <img src="/image/quotation__img2.png" alt="">
        </div>
    </div>
    <div class="c-quotation">
        <div class="c-quotation__info">
            <h3 class="c-quotation__info-item1">回収作業</h3>
            <p class="c-quotation__info-item2">回収作業終了後、ご契約いただいた金額でご精算させていただきます。</p>
        </div>
        <div class="c-quotation__img">
            <img src="/image/quotation__img3.png" alt="">
        </div>
    </div>
</div>