<div class="l-collected">
    <div class="c-collected_items">
        <h3 class="c-collected_items__title">回収品目例</h3>
        <div class="c-collected_items__group">
            <ul class="c-collected_items__group-list">
                <li><a href="#"><i class="fa fa-play" aria-hidden="true"></i>洗浄機</a></li>
                <li><a href="#"><i class="fa fa-play" aria-hidden="true"></i>作業台</a></li>
                <li><a href="#"><i class="fa fa-play" aria-hidden="true"></i>業務用冷蔵庫</a></li>
                <li><a href="#"><i class="fa fa-play" aria-hidden="true"></i>シンク</a></li>
                <li><a href="#"><i class="fa fa-play" aria-hidden="true"></i>ガスレンジ</a></li>
                <li><a href="#"><i class="fa fa-play" aria-hidden="true"></i>薬味入れ</a></li>
                <li><a href="#"><i class="fa fa-play" aria-hidden="true"></i>寸銅鍋</a></li>
                <li><a href="#"><i class="fa fa-play" aria-hidden="true"></i>製氷機</a></li>
            </ul>
            <ul class="c-collected_items__group-list">
                <li><a href="#"><i class="fa fa-play" aria-hidden="true"></i>フライヤー</a></li>
                <li><a href="#"><i class="fa fa-play" aria-hidden="true"></i>電子レンジ</a></li>
                <li><a href="#"><i class="fa fa-play" aria-hidden="true"></i>ミキサー</a></li>
                <li><a href="#"><i class="fa fa-play" aria-hidden="true"></i>スライサー</a></li>
                <li><a href="#"><i class="fa fa-play" aria-hidden="true"></i>ショーケース</a></li>
                <li><a href="#"><i class="fa fa-play" aria-hidden="true"></i>コールドテーブル</a></li>
                <li><a href="#"><i class="fa fa-play" aria-hidden="true"></i>小物</a></li>
                <li><a href="#"><i class="fa fa-play" aria-hidden="true"></i>冷蔵庫</a></li>
            </ul>
            <ul class="c-collected_items__group-list">
                <li><a href="#"><i class="fa fa-play" aria-hidden="true"></i>自動販売機</a></li>
                <li><a href="#"><i class="fa fa-play" aria-hidden="true"></i>券売機</a></li>
                <li><a href="#"><i class="fa fa-play" aria-hidden="true"></i>ショーケース</a></li>
                <li><a href="#"><i class="fa fa-play" aria-hidden="true"></i>ラック</a></li>
                <li><a href="#"><i class="fa fa-play" aria-hidden="true"></i>レジ</a></li>
                <li><a href="#"><i class="fa fa-play" aria-hidden="true"></i>食器</a></li>
                <li><a href="#"><i class="fa fa-play" aria-hidden="true"></i>OA機器</a></li>
                <li><a href="#"><i class="fa fa-play" aria-hidden="true"></i>パソコン</a></li>
            </ul>
            <ul class="c-collected_items__group-list">
                <li><a href="#"><i class="fa fa-play" aria-hidden="true"></i>机（デスク）</a></li>
                <li><a href="#"><i class="fa fa-play" aria-hidden="true"></i>椅子（チェア）</a></li>
                <li><a href="#"><i class="fa fa-play" aria-hidden="true"></i>カウンター</a></li>
                <li><a href="#"><i class="fa fa-play" aria-hidden="true"></i>ロッカー</a></li>
                <li><a href="#"><i class="fa fa-play" aria-hidden="true"></i>ビジネスフォン</a></li>
                <li><a href="#"><i class="fa fa-play" aria-hidden="true"></i>テーブル</a></li>
                <li><a href="#"><i class="fa fa-play" aria-hidden="true"></i>テレビ</a></li>
                <li><a href="#"><i class="fa fa-play" aria-hidden="true"></i>掃除機</a></li>
            </ul>
            <ul class="c-collected_items__group-list">
                <li><a href="#"><i class="fa fa-play" aria-hidden="true"></i>ソファ</a></li>
                <li><a href="#"><i class="fa fa-play" aria-hidden="true"></i>棚</a></li>
                <li><a href="#"><i class="fa fa-play" aria-hidden="true"></i>タンス</a></li>
                <li><a href="#"><i class="fa fa-play" aria-hidden="true"></i>生活用品</a></li>
                <li><a href="#"><i class="fa fa-play" aria-hidden="true"></i>その他不用品など</a></li>
            </ul>
        </div>
        <div class="c-collected_items__imgs">
            <img class="c-collected_items__imgs-img" src="/image/group_img1.png" alt="">
            <img class="c-collected_items__imgs-img" src="/image/group_img2.png" alt="">
            <img class="c-collected_items__imgs-img" src="/image/group_img3.png" alt="">
            <img class="c-collected_items__imgs-img" src="/image/group_img4.png" alt="">
            <img class="c-collected_items__imgs-img" src="/image/group_img5.png" alt="">
            <img class="c-collected_items__imgs-img" src="/image/group_img6.png" alt="">
            <img class="c-collected_items__imgs-img" src="/image/group_img7.png" alt="">
        </div>
        <div class="c-title_bot">
            <h2>他にもいろいろお取り扱いしております！</h2>
        </div>
    </div>
</div>