<div class="p-wrapper">
    <header class="l-header">
        <div class="l-container">
            <div class="c-logo">
                <a href="/index.html"><img src="{{global.logo-home}}" alt=""></a>
            </div>
            <nav class="c-nav" id="nav">
                <ul class="c-nav__menu">
                    {{#each global.navigation}}
                    <li class="c-nav__menu-item"><a href="{{url}}">{{list-arrow}} <br> <span>{{en-list-arrow}}</span></a></li>
                    {{/each}}
                </ul>
            </nav>
        </div>
    </header>
    <!-- End Header -->