.l-houjin_office {
    margin-top: 20px;
    background: url("../image/houjin_office/houjin_office.png") no-repeat;
    .l-banner {
        margin: 0;
        padding: 10px 25px 40px 25px;
        .c-img {
            margin-top: -45px;
        }
    }
    .c-title {
        padding: 15px 25px 0 25px;
        font-size: 4rem;
        color: #fff;
        line-height: 5.8rem;
    }
}