.l-kojin_PCgame--bg {
    .c-title {
        padding: 15px 25px 0 25px;
        font-size: 4rem;
        color: #fff;
        line-height: 5.8rem;
    }
}

.l-kojin_PCgame {
    .l-collection .c-quotation__info-item3 {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .c-quotation__img--mod {
        margin-top: 15px;
    }
    &--bg {
        margin-top: 30px;
        background: url("../image/kojin_PCgame/kojin_PCgame.png") no-repeat;
    }
    .l-banner {
        margin: 0;
        padding: 10px 25px 40px 25px;
        .c-img {
            margin-top: -45px;
        }
    }
    .c-computer {
        padding: 20px 20px 25px;
        background: url("../image/kojin_PCgame/computer.png") no-repeat;
        &__title {
            color: #fff;
            font-size: 2rem;
            text-align: center;
            background-color: $color2;
            margin: 10px 0;
        }
        &__info {
            font-size: 1.5rem;
            color: #fff;
            line-height: 2.2rem;
            padding-bottom: 10px;
        }
    }
    .c-computer__group {
        background-color: #f3f1e6;
        padding: 0 15px 10px;
        text-align: center;
        @include clear;
        position: relative;
        overflow: hidden;
        &::before {
            text-align: left;
            padding-left: 20px;
            position: absolute;
            content: "処分方法は至って簡単！";
            font-size: 1.8rem;
            background: #f80000;
            background: linear-gradient(to right, #f80000, #6c0000);
            width: 400px;
            -webkit-transform: rotate(-11deg);
            transform: rotate(-11deg);
            left: -15px;
            top: 8px;
            color: #fff;
        }
        &-img {
            float: left;
            width: 210px;
            &::before {
                width: 40px;
                height: 31px;
                content: "";
                position: absolute;
                top: 50%;
                background: url(../image/chevron-right.png) no-repeat;
                margin: -12.5px 0px 0px 175px;
            }
            p {
                font-size: 1.5rem;
                color: $color2;
            }
            span {
                color: $color1;
            }
        }
        &-img:last-child {
            &::before {
                height: 0;
                width: 0;
            }
        }
        &-text {
            text-align: right;
            padding: 20px 0 10px;
            font-size: 1.3rem;
        }
    }
    .c-kuroneko {
        margin-top: 30px;
        &__title {
            color: #dfb433;
            font-size: 1.8rem;
            background-color: $color4;
            padding: 5px 15px;
            border-bottom: 2px solid $color1;
        }
        &__list {
            background-color: $color3;
            padding: 10px 15px;
            &-item {
                padding: 5px 0;
                a {
                    color: #fff;
                    font-size: 1.3rem;
                }
                i {
                    color: $color2;
                    font-size: 1rem;
                }
            }
        }
    }
}